<form [formGroup]="form" (ngSubmit)="submit()">
    <label for="title">Title</label>
    <input type="text" formControlName="title" id="title">
    
    <label for="description">Description</label>
    <input type="text" formControlName="description" id="description">
    
    <label for="Priority">Priority</label>
    <select formControlName="priority" id="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>

    <button [disabled]="!form.valid" type="submit">Submit</button>
</form>